{{! Це код container файлу для summary сторінки, 
в якому міститься код, котрий буде віддаватися по  шляху (PATH) - "/summary" }}

<div>
  <h1 class="mb-5"><em>{{name}}</em></h1>

  <p>Birthdate: <time>{{birthdate}}</time></p>
  <p>Birthplace: <q>{{birthplace}}</q></p>
  <p>Deathdate: <time>{{deathdate}}</time></p>
  <p>Deathplace: <q>{{deathplace}}</q></p>
  <p>Nationality: <q>{{nationality}}</q></p>
  <p>Occupation: <q>{{occupation}}</q></p>

  <ul class="ps-5 pt-5">
    {{#each known_for}}
      <div>
        <li><q>{{this}}</q></li>
      </div>
    {{/each}}
  </ul>
  <ul class="ps-5 pt-5">
    {{#each education}}
      <div>
        <li>Degree: <em>{{degree}}</em></li>
        <li>Field: <em>{{field}}</em></li>
        <li>Institution: <q>{{institution}}</q></li>
        <li>Year: <time>{{year}}</time></li>
      </div>
    {{/each}}
  </ul>
  <ul class="ps-5">
    {{#each notable_publications}}
      <div>
        <li class="my-5"><h2><em>{{title}}</em></h2></li>

        <li>Year: <time>{{year}}</time></li>
        <li>Pyblisher: <q>{{publisher}}</q></li>
      </div>
    {{/each}}
  </ul>
  <ul class="ps-5 pt-5">
    {{#each partners}}
      <div>
        <li>Name: {{name}}</li>
        <li>Relationship: <q>{{relationship}}</q></li>
        <li>Years: <time>{{years}}</time></li>
      </div>
    {{/each}}
  </ul>
  <ul class="ps-5 pt-5">
    {{#each awards}}
      <div>
        <li class="mb-5"><h3><em>{{title}}</em></h3></li>

        <li>Year: <time>{{year}}</time></li>
        <li>Description: <q>{{description}}</q></li>
      </div>
    {{/each}}
  </ul>
  <ul class="ps-5 pt-5">
    {{#each influences}}
      <div>
        <li>{{this}}</li>
      </div>
    {{/each}}
  </ul>
  <ul class="ps-5 pt-5">
    {{#each influenced}}
      <div>
        <li>{{this}}</li>
      </div>
    {{/each}}
  </ul>
  <ul class="ps-5 pt-5">
    {{#each quotes}}
      <div>
        <li><q>{{this}}</q></li>
      </div>
    {{/each}}
  </ul>
  <ul class="ps-5 pt-5">
    {{#each major_discoveries}}
      <div>
        <li class="mb-5"><h4><em>{{title}}</em></h4></li>

        <li>Year: <time>{{year}}</time></li>
        <li>Description: <q>{{description}}</q></li>
      </div>
    {{/each}}
  </ul>
  <ul class="ps-5 pt-5">
    {{#with contributions}}
      <div>
        <li class="mb-5"><h5><em>{{title}}</em></h5></li>

        <li>Description: <q>{{description}}</q></li>
        <li>Year: <time>{{year}}</time></li>
        <li>Field:
          <q>{{field}}</q>
        </li>
      </div>
    {{/with}}
  </ul>
</div>

{{!-- Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs 
Адже наш layout/default.hbs має вже структуру HTML --}}