{{!
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
}}

<div>
	<span class="badge text-bg-info mt-3 mb-5">Name: {{name}}</span>

	<ul class="ps-5">
	{{#if users}}<h4>Users:</h4>{{/if}}
	{{#each users}}
		<li><span class="badge text-bg-info">ID: <em>{{id}}</em></span></li>
		<li><span class="badge text-bg-info">Name: <em>{{name}}</em></span></li>
		<li><span class="badge text-bg-info">Gender: <em>{{gender}}</em></span></li>
		<li><span class="badge text-bg-info mb-4">Age: <em>{{age}}</em></span></li>
		
		<ul class="ps-5">
		{{#if friends}}<h4>Friends:</h4>{{/if}}
		{{#each friends}}
			<li><span class="badge text-bg-info">ID: <em>{{id}}</em></span></li>
			<li><span class="badge text-bg-info">Name: <em>{{name}}</em></span></li>
			<li><span class="badge text-bg-info">Gender: <em>{{gender}}</em></span></li>
			<li><span class="badge text-bg-info mb-4">Age: <em>{{age}}</em></span></li>

				<ul class="ps-5"> 
					{{#if mutual_friends}}<h4>Mutual friends:</h4>{{/if}}
					{{#each mutual_friends}}
						<li><span class="badge text-bg-info">ID: <em>{{id}}</em></span></li>
						<li><span class="badge text-bg-info">Name: <em>{{name}}</em></span></li>
						<li><span class="badge text-bg-info">Gender: <em>{{gender}}</em></span></li>
						<li><span class="badge text-bg-info mb-4">Age: <em>{{age}}</em></span></li>
					{{/each}}
				</ul>
				<p><span class="badge text-bg-info">ID: <em>{{id}}</em></span></p>
				<p><span class="badge text-bg-info">Name: <em>{{name}}</em></span></p>
				<p><span class="badge text-bg-info">Gender: <em>{{gender}}</em></span></p>
				<p><span class="badge text-bg-info mb-4">Age: <em>{{age}}</em></span></p>
		{{/each}}

				<ul class="ps-5">
					{{#if mutual_friends}}<h4>Mutual friends:</h4>{{/if}}
					{{#each mutual_friends}}
						<li><span class="badge text-bg-info">ID: <em>{{id}}</em></span></li>
						<li><span class="badge text-bg-info">Name: <em>{{name}}</em></span></li>
						<li><span class="badge text-bg-info">Gender: <em>{{gender}}</em></span></li>
						<li><span class="badge text-bg-info mb-4">Age: <em>{{age}}</em></span></li>
					{{/each}}
				</ul>
		</ul>
			<ul class="ps-5">
				{{#if groups}}<h4>Groups:</h4>{{/if}}
				{{#each groups}}
					<li><span class="badge text-bg-info">ID: <em>{{id}}</em></span></li>
					<li><span class="badge text-bg-info">Name: <em>{{name}}</em></span></li>
					<li><span class="badge text-bg-info mb-4">Description: <bloquote>{{description}}</bloquote></span></li>

				<ul class="ps-5">
					{{#if members}}<h4>members:</h4>{{/if}}
					{{#each members}}
						<li><span class="badge text-bg-info">ID: <em>{{id}}</em></span></li>
						<li><span class="badge text-bg-info">Name: <em>{{name}}</em></span></li>
						<li><span class="badge text-bg-info">Gender: <em>{{gender}}</em></span></li>
						<li><span class="badge text-bg-info mb-4">Age: <em>{{age}}</em></span></li>
					{{/each}}
				</ul>
					<p><span class="badge text-bg-info">ID: <em>{{id}}</em></span></p>
					<p><span class="badge text-bg-info">Name: <em>{{name}}</em></span></p>
					<p><span class="badge text-bg-info mb-4">Description: <bloquote>{{description}}</bloquote></span></p>
				{{/each}}
			</ul>
				<p><span class="badge text-bg-info">ID: <em>{{id}}</em></span></p>
				<p><span class="badge text-bg-info">Name: <em>{{name}}</em></span></p>
				<p><span class="badge text-bg-info">Gender: <em>{{gender}}</em></span></p>
				<p><span class="badge text-bg-info mb-4">Age: <em>{{age}}</em></span></p>

			<ul class="ps-5">
				{{#if friends}}<h4>Friends:</h4>{{/if}}
				{{#each friends}}
					<li><span class="badge text-bg-info">ID: <em>{{id}}</em></span></li>
					<li><span class="badge text-bg-info">Name: <em>{{name}}</em></span></li>
					<li><span class="badge text-bg-info">Gender: <em>{{gender}}</em></span></li>
					<li><span class="badge text-bg-info mb-4">Age: <em>{{age}}</em></span></li>

						{{#if mutual_friends}}<h4>Mutual friends:</h4>{{/if}}
						{{#each mutual_friends}}
							<li><span class="badge text-bg-info">ID: <em>{{id}}</em></span></li>
							<li><span class="badge text-bg-info">Name: <em>{{name}}</em></span></li>
							<li><span class="badge text-bg-info">Gender: <em>{{gender}}</em></span></li>
							<li><span class="badge text-bg-info mb-4">Age: <em>{{age}}</em></span></li>
						{{/each}}

						<ul class="ps-5">
							{{#if groups}}<h4>Groups:</h4>{{/if}}
							{{#each groups}}
								<li><span class="badge text-bg-info">ID: <em>{{id}}</em></span></li>
								<li><span class="badge text-bg-info">Name: <em>{{name}}</em></span></li>
								<li><span class="badge text-bg-info mb-4">Description: <bloquote>{{description}}</bloquote></span></li>

									<ul class="ps-5">
										{{#if members}}<h4>Members:</h4>{{/if}}
										{{#each members}}
											<li><span class="badge text-bg-info">ID: <em>{{id}}</em></span></li>
											<li><span class="badge text-bg-info">Name: <em>{{name}}</em></span></li>
											<li><span class="badge text-bg-info">Gender: <em>{{gender}}</em></span></li>
											<li><span class="badge text-bg-info mb-4">Age: <em>{{age}}</em></span></li>
										{{/each}}
									</ul>
							{{/each}}
						</ul>
				{{/each}}
			</ul>
	{{/each}}
	</ul>
</div>

{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}