{{!
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
}}

<h1>{{name}}</h1>
<p class="mb-4">Description:
  <blockquote>{{description}}</blockquote>
</p>

	{{#with history}}
		<span class="badge text-bg-info">Year: <time>{{year}}</time></span>
		<span class="badge text-bg-info mb-5">Founder: <em>{{founder}}</em></span>
	{{/with}}

		<ul class="ps-5">
		{{#if types}}<h4>Types:</h4>{{/if}}
		{{#each types}}
			<span class="badge text-bg-info"><li>{{this}}</li></span>
		{{/each}}
		</ul>

			{{#with syntax}}
			
			<ul class="ps-5 pt-4">
				{{#if variables}}<h4>Variables:</h4>{{/if}}
				{{#each variables}}
					<span class="badge text-bg-info"><li>{{this}}</li></span>
				{{/each}}
			</ul>

			<ul class="ps-5 pt-4">
				{{#if functions}}<h4>Functions:</h4>{{/if}}
				{{#each functions}}
					<span class="badge text-bg-info"><li>{{this}}</li></span>
				{{/each}}
			</ul>

			<ul class="ps-5 pt-4">
				{{#if conditionals}}<h4>Conditionals:</h4>{{/if}}
				{{#each conditionals}}
					<span class="badge text-bg-info"><li>{{this}}</li></span>
				{{/each}}
			</ul>

			<ul class="ps-5 pt-4">
				{{#if loops}}<h4>Loops:</h4>{{/if}}
				{{#each loops}}
					<span class="badge text-bg-info"><li>{{this}}</li></span>
				{{/each}}
			</ul>

			<ul class="ps-5 pt-4">
				{{#if classes}}<h4>Classes:</h4>{{/if}}
				{{#each classes}}
					<span class="badge text-bg-info"><li>{{this}}</li></span>
				{{/each}}
			</ul>
			{{/with}}

				<ul class="ps-5 pt-4">
				{{#if features}}<h4>Features:</h4>{{/if}}
				{{#each features}}
					<span class="badge text-bg-info"><li>{{this}}</li></span>
				{{/each}}
				</ul>

					<ul class="ps-5 pt-4">
					{{#if libraries}}<h4>Libraries:</h4>{{/if}}
					{{#each libraries}}
						<span class="badge text-bg-info"><li>{{this}}</li></span>
					{{/each}}
					</ul>

						<ul class="ps-5 py-4">
						{{#if tools}}<h4>Tools:</h4>{{/if}}
						{{#each tools}}
							<span class="badge text-bg-info"><li>{{this}}</li></span>
						{{/each}}
						</ul>

							{{#if community}}<h4>Community:</h4>{{/if}}
							{{#each community}}
							<button type="button" class="btn btn-link">Name: {{name}}</button>
							<button type="button" class="btn btn-link">Type: <em>{{type}}</em></button>
							{{/each}}

{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}