{{! Це код container файлу для summary сторінки, 
в якому міститься код, котрий буде віддаватися по  шляху (PATH) - "/summary" }}

<div>

  <br />
  <hr />
  <br />

  {{#with person}}
    <div>
      <h1>{{name}}</h1>

      <br />

      <p>Age: {{age}}</p>
      <p>Gender: {{gender}}</p>
    </div>

    {{#with address}}
      <div>
        <p><address>Street: {{street}}</address></p>
        <p><address>City: {{city}}</address></p>
        <p><address>State: {{state}}</address></p>
        <p>Zip: {{zip}}</p>
        <p><address>Country: {{country}}</address></p>
      </div>
    {{/with}}

    <br />

    <ul>
      {{#each education}}
        <div>
          <li>Degree: {{degree}}</li>
          <li>Major: {{major}}</li>
          <li><em>University: {{university}}</em></li>
          <li><time>Year: {{graduationYear}}</time></li>
        </div>
      {{/each}}
    </ul>

    <br />

    <ul>
      {{#each workExperience}}
        <div>
          <li><em>Company: {{company}}</em></p></li>

          <br />

          <li>
            <h2><em>{{title}}</em></h2>
          </li>

          <br />

          <li><time>Start date: {{startDate}}</time></li>
          <li><time>End date: {{endDate}}</time></li>
        </div>
      {{/each}}

      <br />

      <ul>
        {{#each workExperience}}
          {{#each responsibilities}}
            <div>
              <li><q>{{this}}</q></li>
            </div>
          {{/each}}
        {{/each}}
      </ul>
    </ul>

    <br />

    {{#each workExperience}}
      <div>
        <p><time>Year founded: {{year_founded}}</time></p>
        <p><i>Industry: {{industry}}</i></p>
      </div>
    {{/each}}

    <br />

    <ul>
      {{#each workExperience}}
        {{#each employees}}
          <div>
            <li>Name: {{name}}</li>

            <br />

            <li><h2><em>{{position}}</em></h2></li>

            <br />

            <li><em>Department: {{department}}</em></li>
          </div>
        {{/each}}
      {{/each}}
    </ul>

    <br />

    <ul>
      {{#each workExperience}}
        {{#each employees}}
          {{#each projects}}
            <div>
              <li>Name: {{name}}</li>
              <li>Description: <q>{{description}}</q></li>
              <li>Status: {{status}}</li>
            </div>
          {{/each}}
        {{/each}}
      {{/each}}
    </ul>

    <br />

    <ul>
      {{#each workExperience}}
        {{#each employees}}
          {{#each projects}}
            {{#each teams}}
              <div>
                <li>Team name: {{team_name}}</li>

                <br />

                {{#with team_leader}}
                  <div>
                    <p>Name: {{name}}</p>

                    <br />

                    <li><h3><em>{{title}}</em></h3></li>

                    <br />

                    <p>Email:
                      <a href={{email}}>{{email}}</a></p>
                  </div>
                {{/with}}

                <br />

                <ul>
                  {{#each team_members}}
                    <div>
                      <li>Name: {{name}}</li>

                      <br />

                      <li><h3><em>{{title}}</em></h3></li>

                      <br />

                      <li>Email: <a href={{email}}>{{email}}</a></li>
                    </div>
                  {{/each}}
                </ul>

                <br />

                <ul>
                  {{#each team_members}}
                    {{#each skills}}
                      <div>
                        <li>{{this}}</li>
                      </div>
                    {{/each}}
                  {{/each}}
                </ul>

                <br />

                <ul>
                  {{#each team_members}}
                    {{#each projects}}
                      <div>
                        <li>Name: {{name}}</li>
                        <li>Description: <q>{{description}}</q></li>
                      </div>
                    {{/each}}
                  {{/each}}
                </ul>

                <br />

                <ul>
                  {{#each team_members}}
                    {{#each projects}}
                      {{#each technologies}}
                        <div>
                          <li>{{this}}</li>
                        </div>
                      {{/each}}
                    {{/each}}
                  {{/each}}
                </ul>

                <br />

                <ul>
                  {{#each team_members}}
                    {{#each projects}}
                      {{#each team_members}}
                        <div>
                          <li>Name: {{name}}</li>

                          <br />

                          <li><h4><em>{{title}}</em></h4></li>

                          <br />

                        </div>
                      {{/each}}
                    {{/each}}
                  {{/each}}
                </ul>

              </div>
            {{/each}}
          {{/each}}
        {{/each}}
      {{/each}}
    </ul>
  {{/with}}

  <br />
  <hr />
  <br />

</div>

{{!-- Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs 
Адже наш layout/default.hbs має вже структуру HTML --}}