{{! Це код container файлу для summary сторінки, 
в якому міститься код, котрий буде віддаватися по  шляху (PATH) - "/summary" }}

<div>
  {{#with program }}
  <div>
    {{#with excursion }}
        <h1>{{> title data="Excursion"}}</h1>
        <div>
			<h2> Name: "{{name}}"</h2>
			<div><address>{{location.city}},</address> <address>{{location.country}}</address></div>
			<br>
            <time>{{date}}</time>
			<h2>{{> title data="Program:"}}</h2>
			<div>
				{{#each program }}
				<ul>
					<li>
						<div><h3>{{name}}</h3></div>
						<div>Type: {{type}}</div>
						<div>Duration: {{duration}}</div>
						<div>
							{{#with details}}
							<div>
								<div>
									{{#with museum }}
									<div><strong>{{name}}</strong></div>
									<div><address>{{location.address}},</address> <address>{{location.city}},</address> <address>{{location.country}}</address></div>
									<p><em> Exhibits: </em></p>
									<div>
										{{#each exhibits }}
										<ul>
											<li><b>{{name}}</b><br />
												{{#if artist}}{{artist}}{{else}} ----- {{/if}}<br />
												{{description}}<br />
												{{#if audio_guide}}(audio guide){{/if}}
											</li>
										</ul>
										{{/each}}
									</div>
									{{/with}}
								</div>
								<div>
									{{#with venue }}
									<div><strong>{{name}}</strong></div>
									<div><address>{{location.address}},</address> <address>{{location.city}},</address> <address>{{location.country}}</address></div>
									{{/with}}
								</div>
								<br />
								<div>
									{{#each performers}}
									<ul>
										<li>
											{{name}} {{type}}
										</li>
									</ul>
									{{/each}}
								</div>
								<p> Guide: {{guide.name}} <br />
									Language: {{guide.language}} <br />
									Rating: {{guide.rating}}
								</p>
							</div>
							{{/with}}
						</div>
					</li>
				</ul>
				{{/each}}
			</div>
		</div>
		{{/with}}
  </div>
  {{/with}}
</div>

{{!-- Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs 
Адже наш layout/default.hbs має вже структуру HTML --}}
