<main>
    {{#with page_header}}
        <h1 class="text-center">{{title}}</h1>
        <div class="text-center text-uppercase">
            <p><bloquote>{{description}}</bloquote></p>
        </div>
    {{/with}}

    <br>

    <div class="card">
        <div class="card-body">
            {{#with section}}
                {{#with about_us}}
                    {{#with title_list}}
                        <div class="display-6 text-end">{{main}}</div>

                        <br>

                        <h2 class="text-end"><i>{{sub}}</i></h2>
                    {{/with}}

                    <br>

                    {{#with button}}
                        <a href="#" class="btn btn-outline-info">
                            {{text}}
                        </a>
                    {{/with}}
                {{/with}}
            {{/with}}
        </div>
    </div>

    <br>

    <div class="card">
        <div class="card-body">
            {{#with section}}
                {{#with advantage}}
                    <div class="display-5 text-muted">{{title}}</div>

                    <br>

                    <div class="card">
                        <div class="card-body">
                            {{#with efficiency}}
                                <div class="display-4 text-muted">{{title}}</div>

                                <br>

                                <h6><i>{{sub_title}}</i></h6>

                                <br>

                                <div>
                                    <p><bloquote>{{description}}</bloquote></p>
                                </div>

                                <br>

                                <a href="#" class="btn btn-outline-warning">
                                    {{button}}
                                </a>
                            {{/with}}                    
                        </div>
                    </div>

                    <br>

                    <div class="card">
                        <div class="card-body">
                            {{#with innovation}}
                                <div class="display-4 text-center text-muted">{{title}}</div>

                                <br>

                                <h6 class="text-center"><i>{{sub_title}}</i></h6>

                                <br>

                                <div class="text-center">
                                    <p><bloquote>{{description}}</bloquote></p>
                                </div>

                                <br>

                                <a href="#" class="btn btn-outline-warning">
                                    {{button}}
                                </a>
                            {{/with}}     
                        </div>
                    </div>

                    <br>

                    <div class="card">
                        <div class="card-body">
                            {{#with collaboration}}
                                <div class="display-4 text-end text-muted">{{title}}</div>

                                <br>

                                <h6 class="text-end"><i>{{sub_title}}</i></h6>

                                <br>

                                <div class="text-end">
                                    <p><bloquote>{{description}}</bloquote></p>
                                </div>

                                <br>

                                <a href="#" class="btn btn-outline-warning">
                                    {{button}}
                                </a>
                            {{/with}}     
                        </div>
                    </div>
                {{/with}}
            {{/with}}    
        </div>
    </div>

    <br>

    <div class="card">
        <div class="card-body">
            {{#with section}}
                {{#with agreement}}
                    <div class="display-5">{{title}}</div>

                    <br>

                    <div class="card">
                        <div class="card-body">
                            {{#with info}}
                                <h5><i>{{sub_title}}</i></h5>
                            
                                <br>

                                <div class="card">
                                    <div class="card-body">
                                        {{#with detail}}
                                            <div>
                                                <p><bloquote>{{text}}</bloquote></p>
                                            </div>

                                            <br>

                                            <a href="#" class="btn btn-success">
                                                {{button}}
                                            </a>
                                        {{/with}}   
                                    </div>
                                </div>
                            {{/with}}
                        </div>
                    </div>
                {{/with}}
            {{/with}}
        </div>
    </div>
</main>