<main>
    <div class="card">
        <div class="card-body">
            <div class="card pb-1">
                <div class="card-body">
                    {{#with heading}}
                        {{#with main}}
                            <h1>{{title}}</h1>
                            <div>
                                <p><bloquote>{{text}}</bloquote></p>
                            </div>
                        {{/with}}
                    {{/with}}

                    {{#with heading}}
                        {{#with main}}
                            {{#with button_text}}
                                <div class="mb-3">
                                    <a href="#" class="btn btn-primary">
                                        {{solid}}
                                    </a>
                                </div>

                                <div>
                                    <a href="#" class="btn btn-outline-primary">
                                        {{outline}}
                                    </a>
                                </div>
                            {{/with}}
                        {{/with}}
                    {{/with}}
                </div>
            </div>

            <div class="pt-4">
                <div class="card">
                    <div class="card-body">
                        {{#with heading}}
                            {{#with second}}
                                <h2>{{title}}</h2>
                                <div>
                                    <p><bloquote>{{text}}</bloquote></p>
                                </div>

                                {{#with button_text}}
                                    <div class="mb-3">
                                        <a href="#" class="btn btn-secondary">
                                            {{solid}}
                                        </a>
                                    </div>

                                    <div class="mb-2">
                                        <a href="#" class="btn btn-outline-secondary">
                                            {{outline}}
                                        </a>
                                    </div>
                                {{/with}}
                            {{/with}}
                        {{/with}}
                    </div>
                </div>
            </div>

            <div class="pt-4">
                <div class="card">
                    <div class="card-body">
                        {{#with heading}}
                            {{#with subblock}}
                                <h3>{{title}}</h3>
                                <div class="mb-3">
                                    <p><bloquote>{{text}}</bloquote></p>
                                </div>

                                {{#with button_text}}
                                    <div class="mb-3">
                                        <a href="#" class="btn btn-dark">
                                            {{solid}}
                                        </a>
                                    </div>

                                    <div class="mb-2">
                                        <a href="#" class="btn btn-outline-dark">
                                            {{outline}}
                                        </a>
                                    </div>
                                {{/with}}
                            {{/with}}
                        {{/with}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="py-4">
        <div class="card">
            <div class="card-body">
                {{#with nested_display}}
                    <div class="display-1 mb-4">{{title}}</div>

                    <div class="card">
                        <div class="card-body">
                            {{#with children_display}}
                                <div class="display-4">{{title}}</div>
                                <div class="mb-4">
                                    <p><bloquote>{{text}}</bloquote></p>
                                </div>

                                {{#with button}}
                                    <div>
                                        <a href="#" class="btn btn-outline-warning">
                                            {{text}}
                                        </a>
                                    </div>
                                {{/with}}
                            {{/with}}
                        </div>
                    </div>

                    <h6 class="my-4">{{header_text}}</h6>

                    {{#with button}}
                        <div>
                            <a href="#" class="btn btn-info">
                                {{text}}
                            </a>
                        </div>
                    {{/with}}
                {{/with}}
                </div>
            </div>
    </div>

    <div class="card">
        <div class="card-body">
            {{#with paragraph}}
                <div class="text-uppercase">
                    {{title}}
                </div>

                <div class="my-4">
                    {{text}}
                </div>

                {{#with button}}
                    <div class="mb-4">
                        <a href="{{url}}" class="btn btn-link">
                            {{text}}
                        </a>
                    </div>
                {{/with}}

                    <div class="card">
                        <div class="card-body">
                            {{#each list_name}}
                                <ul class="ps-5">
                                    <div>
                                        <li>
                                            <div>
                                                <a href="{{url}}" class="btn btn-link">
                                                    {{text}}
                                                </a>
                                            </div> 
                                        </li>
                                    </div>
                                </ul>
                            {{/each}}
                        </div>
                    </div>
            {{/with}}
        </div>
    </div>
</main>