<main>
    {{#with page_header}}
        <h1 class="text-center">{{title}}</h1>
        <div class="text-center text-uppercase">
            <p><bloquote>{{description}}</bloquote></p>
        </div>
    {{/with}}

    <div class="my-4">
        <div class="card">
            <div class="card-body">
                {{#with section}}
                    {{#with about_us}}
                        {{#with title_list}}
                            <div class="display-6 text-end mb-5">{{main}}</div>

                            <h2 class="text-end mb-5"><i>{{sub}}</i></h2>
                        {{/with}}

                        {{#with button}}
                            <a href="#" class="btn btn-outline-info">
                                {{text}}
                            </a>
                        {{/with}}
                    {{/with}}
                {{/with}}
            </div>
        </div>
    </div>

    <div class="my-4">
        <div class="card">
            <div class="card-body">
                {{#with section}}
                    {{#with advantage}}
                        <div class="display-5 text-muted mb-4">{{title}}</div>

                        <div class="card">
                            <div class="card-body">
                                {{#with efficiency}}
                                    <div class="display-4 text-muted">{{title}}</div>

                                    <h6 class="my-4"><i>{{sub_title}}</i></h6>

                                    <div class="mb-5">
                                        <p><bloquote>{{description}}</bloquote></p>
                                    </div>

                                    <a href="#" class="btn btn-outline-warning">
                                        {{button}}
                                    </a>
                                {{/with}}                    
                            </div>
                        </div>

                        <div class="my-4">
                            <div class="card">
                                <div class="card-body">
                                    {{#with innovation}}
                                        <div class="display-4 text-center text-muted">{{title}}</div>

                                        <h6 class="text-center my-5"><i>{{sub_title}}</i></h6>

                                        <div class="text-center mb-5">
                                            <p><bloquote>{{description}}</bloquote></p>
                                        </div>

                                        <a href="#" class="btn btn-outline-warning">
                                            {{button}}
                                        </a>
                                    {{/with}}     
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-body">
                                {{#with collaboration}}
                                    <div class="display-4 text-end text-muted">{{title}}</div>

                                    <h6 class="text-end my-5"><i>{{sub_title}}</i></h6>

                                    <div class="text-end mb-5">
                                        <p><bloquote>{{description}}</bloquote></p>
                                    </div>

                                    <a href="#" class="btn btn-outline-warning">
                                        {{button}}
                                    </a>
                                {{/with}}     
                            </div>
                        </div>
                    {{/with}}
                {{/with}}    
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            {{#with section}}
                {{#with agreement}}
                    <div class="display-5 mb-4">{{title}}</div>

                    <div class="card">
                        <div class="card-body">
                            {{#with info}}
                                <h5 class="mb-4"><i>{{sub_title}}</i></h5>

                                <div class="card">
                                    <div class="card-body">
                                        {{#with detail}}
                                            <div class="mb-5">
                                                <p><bloquote>{{text}}</bloquote></p>
                                            </div>

                                            <a href="#" class="btn btn-success">
                                                {{button}}
                                            </a>
                                        {{/with}}   
                                    </div>
                                </div>
                            {{/with}}
                        </div>
                    </div>
                {{/with}}
            {{/with}}
        </div>
    </div>
</main>