{{! Це код container файлу для summary сторінки, 
в якому міститься код, котрий буде віддаватися по  шляху (PATH) - "/summary" }}

	{{#with web}}
        {{#each languages}}
        <ul class="ps-5">
            <li>Name: {{name}}</li>
            <li>Version: <em>{{version}}</em></li>
            <li>Description: <blockquote>{{description}}</blockquote></li>

            <hr class="mt-5">

            {{#if elements}}<h4>Elements:</h4>{{/if}}
            {{#each elements}}
                <li>Name: {{name}}</p></li>
                <li>Description:<blockquote>{{description}}</blockquote></li>
                <ul class="ps-5">
                  {{#each attributes}}
                      <li>Name: {{name}}</li>
                      <li>Description: <blockquote>{{description}}</blockquote></li>
                  {{/each}}
                </ul>
            {{/each}}
          </ul>

            {{#if properties}}<h4>Properties:</h4>{{/if}}
            {{#each properties}}
				<li>Name: {{name}}</li>
				<li>Description: <blockquote>{{description}}</blockquote></li>
				<ul class="ps-5">
					{{#each values}}
						<li>Value: {{value}}</li>
						<li>Description: <blockuote>{{description}}</blockuote></li>
					{{/each}}
					</ul>
            {{/each}}

            {{#if functions}}<h4>Functions:</h4>{{/if}}
            {{#each functions}}
				<li>Name: {{name}}</li>
				<li>Description: <blockquote>{{description}}</blockquote></li>
				<ul class="ps-5">
					{{#each parameters}}
						<li>Name: {{name}}</li>
						<li>Type: {{type}}</li>
						<li>Description: <blockquote>{{description}}</blockquote></li>
					{{/each}}
				</ul>
            {{/each}}
		</ul>

		<hr class="mt-5">
          {{/each}}
	{{/with}}

{{!-- Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs 
Адже наш layout/default.hbs  має вже структуру HTML --}}