{{!--
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<div>
    {{#with main}}
    <main>
        <section>
            {{> title data="Work history" big=true}}
            <div>
                <ul class="ps-5">
                    {{#each works}}
                        <li class="mb-4">
                            <div class="mb-4">{{position}}</div>

                            <div class="mb-4">
                                {{duration.from}} - 
                                {{#if duration.to}} 
                                    {{duration.to}} 
                                {{else}} 
                                    (досі працюємо) 
                                {{/if}}
                            </div>

                            <div>
                                {{#if company.url}}
                                    <div>{{> link text=company.name href=company.url blank=true noLine=true}}</div>
                                {{else}}
                                    <b>{{company.name}}</b>
                                {{/if}}
                            </div>

                            <div class="mt-5 mb-4">
                                <strong>Project ({{projectAmount}})</strong>
                            </div>

                            <ul class="ps-5">
                                {{#each projects}}
                                    <li>
                                        <div>{{> link text=name href=url blank=true noLine=true}}</div>
                                        {{!-- Ось сюди писати код.... --}}
                                        <div>
                                            <p>About: <br> {{about}}</p>
                                        </div>

                                        <div class="my-4">
                                            <em>Project stacks ({{stackAmount}})</em>
                                        </div>

                                        <div>
                                            <ul class="ps-5">
                                                {{#each stacks}}
                                                    <li>{{name}}</li>
                                                {{/each}}
                                            </ul>
                                        </div>

                                        <div class="my-4">
                                            <em>Project awards ({{awardAmount}})</em>
                                        </div>

                                        <div>
                                            <ul class="ps-5">
                                                {{#each awards}}
                                                    <li>{{name}}</li>
                                                {{/each}}
                                            </ul>
                                        </div>
                                    </li>
                                {{/each}}
                            </ul>
                        </li>
                    {{/each}}
                </ul>
            </div>
        </section>
    </main>
    {{/with}}
</div>

{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}